* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.navbar-brand {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
}

.navbar-nav {
  float: right;
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  list-style: none;
}
.navbar-nav li a {
  color: white;
  font-size: 25px; /* adjust the size as desired */
  text-decoration: none; /* remove underline */
  padding-right: 100px;
}


.navbar-nav li:last-child {
  padding-right: 0;
}
.nav-item {
  margin-left: 1rem;
}

@media (max-width: 991px) {
  .navbar-nav {
    float: none;
    justify-content: center;
  }
}
.header-logo {
  position: static;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 2; /* increase z-index to overlap with header image */
}

.home-header {
  position: relative; /* remove overflow: hidden */
  height: 800px;
  background-image: url('./images/img1.jpg'); /* add header image as background */
  background-size: cover;
  background-position: center;
}

.text-overlay h1{
  justify-content: left;
  
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* lower z-index to be behind header image */
}

.header-image {
  position: relative;
  height: 500px;
}

.header-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 1;
}

.header-line {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #ccc;
  z-index: 1;
}

.header-text {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: white;
}

/* TEMP: second page properties */
.second_page {
  height: 500px;
  background-color: white;
}

.second_page h3 {
  padding-top: 6rem;
  padding-left: 8rem;
}

/* TEMP: third page */

.third_page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #022241;
  color: white;
  border: 1px solid white;
  padding: 2rem;
  box-sizing: border-box; /* added box-sizing property */
}

.placeholder-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #022241;
  color: white;
  padding: 2rem;
  margin: 1rem;
  width: 25%;
  height: 20vh;
  border: none;
}

.placeholder p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

/*Footer begins*/
.App-footer {
  background-color: #022241;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.App-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 100%;
}

.App-footer-col1 {
  flex: 1;
  margin-left: 20%;
  line-height: 150%;
  
}
.App-footer-col1 h2{
  color: #8be3ff;
}

.App-footer-col2 h2{
  color: #8be3ff;
}

.App-footer-col3 h2{
  color: #8be3ff;
}
.App-footer-col2 {
  flex: 1;
  margin-left: 20px;
  line-height: 150%;
}

.App-footer-col2 li a 
{
  color: white;
  text-decoration: none;
}
.App-footer-col3 {
  flex: 1;
  margin-left: 20px;
  line-height: 150%;
}

.App-footer h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.App-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.App-footer ul li {
  margin-bottom: 5px;
}

.App-footer p {
  margin: 0;
}

.ft-logo{
  
  width: 10%;
  height: 50px;
}




/* Temp fourth page*/
.fourth_page {
  height: 120vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3rem;
  padding-left: 3rem;
}

.how_we_do_it {
  color: #3E54AC;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #3E54AC;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
}

.holders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.holder {
  display: inline-block;
  width: calc(25% - 2.5rem);
  margin-bottom: 5rem;
  text-align: center;
}

.holder i {
  font-size: 3rem;
  color: #3E54AC;
  margin-bottom: 1.5rem;
}

.holder h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #3E54AC;
}

.holder p {
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
  margin: 0;
}



/*temp fifth page */

.fifth_page {
  background-color: #022241;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  text-align: center;
}

.fifth_page h3 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.fifth_page p {
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 50rem;
}
.holders5 {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.holder5 {
  background-color: #B4E4FF;
  width: 9rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 20%;
}

.holder5:hover {
  transform: translateY(-5px);
}


.holder5 i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #022241;
}

.holder-header5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #022241;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.fifth_page p {
  margin-bottom: 4rem;
}